#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

.table-holder table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
  border: 1px;
}

.table-holder table th{
  background-color: #3D3A4B;
  padding: 8px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 10px hidden;
}

.table-holder table td{
  background-color: #D3C0CD;
  color: #3D3A4B;
  padding: 8px;
  text-align: left;
  border-bottom: 5px solid #937666;
}

.filter-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 2rem;
  gap: 10px;
}

.filter-holder input {
  background-color: #B19994;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: hidden;
}

.filter-holder select {
  background-color:#B19994;
  width: 10%;
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: hidden;
}

.barChart {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}